
/**/

body {
	/*font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';*/
}

#frame {
}

.topBox {
	border-bottom: 5px;
  	border-color: silver;
}

header {
	padding-left: 60px;
  	margin-bottom: 20px;
  	color: #333;
  	background-color: white;
  	float: left;
  	width: 100%;
}

#headerLarge {
	font-size: 28px;
	color: white;
	background: cadetblue;
	font-weight: bold;
	padding: 20px;
	width: 170px;
	text-align: center;
	float: left;
}

nav {
	float: right;
	text-align: center;
	margin-right: 180px;
}

#about {
	float: left;
	font-size: 18px;
	padding: 15px;
}

#portfolio {
	float: left;
	font-size: 18px;
	padding: 15px;

}

#contact {
	float: left;
	font-size: 18px;
	padding: 15px;

}

h1 {
	font-size: 28px;
	color: cadetblue;
	font-weight: bold;
}

h2 {
	font-size: 22px;
	color: cadetblue;
	font-weight: bold;
}

.main {
	clear: both;
	overflow: auto;
	width: 650px;
	background: white;
}

.aboutMePic {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

#side {
	width: 270px;
	background-color: white;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	border: 2px solid silver;
	float: right;
	margin-right: 120px;
	margin-top: 25px;
}

footer {
	background: dimgray;
	border-top-style: solid;
	border-color: cadetblue;
	border-width: 6px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 12px;
	font-color: darkgray;
}