
/**/

body {
	/*font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';*/
	background-image: url("../images/brushed_alu_@2X.png");
}

#frame {
	width: 60%;

}

.topBox {
	border-bottom: 5px;
  	border-color: silver;
}

header {
	padding-left: 60px;
  	margin-bottom: 20px;
  	color: #333;
  	background-color: white;
  	float: left;
  	width: 100%;
}

#headerLarge {
	font-size: 28px;
	color: white;
	background: cadetblue;
	font-weight: bold;
	padding: 20px;
	width: 170px;
	text-align: center;
	float: left;
}

nav {
	float: right;
	text-align: center;
	margin-right: 180px;
}

#about {
	float: left;
	font-size: 18px;
	padding: 15px;
}

#portfolio {
	float: left;
	font-size: 18px;
	padding: 15px;

}

#contact {
	float: left;
	font-size: 18px;
	padding: 15px;

}

h1 {
	font-size: 28px;
	color: cadetblue;
	font-weight: bold;
}

h2 {
	font-size: 22px;
	color: cadetblue;
	font-weight: bold;
}

.main {
	clear: both;
	overflow: auto;
	width: 650px;
	background-color: white;
	padding-left: 20px;
	display: inline-block;
	height: auto;
	/*position: relative;*/
}

.aboutMePic {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	height: 150px;
	width: 150px;
}

#side {
	width: 270px;
	background-color: white;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 35px;
	border: 2px solid silver;
	float: right;
	margin-right: 120px;
	margin-top: -45px;
	/*position: relative;*/
}

footer {
	background: dimgray;
	border-top-style: solid;
	border-color: cadetblue;
	border-width: 6px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 12px;
	font-color: darkgray;
	clear: both;
}

button {
	background-color: cadetblue;
	color: white;
	padding: 20px;
	float: left;
}

#port-pics {
	margin-left: 10px;
	width: auto;
	position: relative;
}

.img-port {
	position: relative;
	width: 150px;
	height: 150px;
	margin: 5px;
}

.pix {
	position: relative;
	width: 160px;
	float: left;
}

.ribbon {
	font-family: 'Georgia', Times, Times New Roman, serif;
	position: absolute;
	width: 150px;
	height: 50px;
	background-color: #4aaaa5;
	z-index: 1;
	opacity: 0.9;
	color: white;
	margin: 95px 0 0 5px;
	text-align: center;
	padding-top: 10px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 6c912ac469ae92b1ab138abbefe3a8c5d8d13387
